@media screen and (max-width:1116px){
    .container{
        width: 100%;
        margin: 0 auto;
        padding: 0 20px;
    }
}

@media screen and (max-width:600px){
    h1 {
        margin-bottom: 3rem;
        font-size: 3rem;
    }
    
    h2 {
        margin-bottom: 2.5rem;
        font-size: 2.7rem;
        color: #fffffe;
    }
    
    h3 {
        margin-bottom: 1rem;
        font-size: 2.3rem;
    }

    p{
        font-size: 1.3rem;
    }

    .container{
        width: 100%;
        margin: 0 auto;
        padding: 0 40px;
    }

    .row{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
        /* flex-shrink: unset; */
    }

    .col{
        padding-left: 1rem;
        padding-right: 1rem;
        padding: 40px 0;
    }

    .lessons .col{
        width: 100%;
        /* flex-basis: 100%; */
    }

    .lessons .col img{
        /* aspect-ratio: 1/1; */
        width: 100%;
    }

    .steps{
        /* margin: 3rem 0; */
        padding: 3rem 0;
        color: #232946;
        background: #eebbc3;
    }

    .steps .col{
        width: 100%;
        /* flex-basis: 100%; */
    }

    .steps .col img{
        /* aspect-ratio: 1/1; */
        width: 100%;
    }

    .why-us{
        margin-top: -3rem;
        margin-bottom: 0;
        background-color: #222222;
        padding: 3rem 0;
    }

    .why-us .col-left {
        width: 100%;
    }
    
    .why-us .col-right {
        width: 100%;
    }


}
